[2020-06-09 04:18] whatnick opened #7 "Update readme to point to 0.0.6 release"
For the benefit of GHA builders copy-pasting from README please update trivy version tag to 0.0.6.

[2020-06-18 08:50] #7 closed

[2020-06-22 14:45] zoispag opened #9 "Feature: Add support for --ignore-unfixed"
Would it be possible to add support for `--ignore-unfixed` flag in the action?

I tried many things but I haven't figured it out the proper syntax yet to open a Pull Request.

So far I've tried:

- `- '${{ inputs.ignore-unfixed == true && echo --ignore-unfixed }}'`
- `- '${{ inputs.ignore-unfixed }} == true && echo "--ignore-unfixed"'`
- `- '${{ inputs.ignore-unfixed }} == "true" && echo "--ignore

[2020-06-22 14:57] danielpacak commented on #9
Hi @zoispag Got your point. What about taking the advantage of the fact that running trivy as

[code]

is equivalent of

[code]

Having said that, I believe you could define a new optional input param and set its default value to `false`, and the finally add it to the action's command:

[code]
WDYT?

[2020-06-22 14:59] zoispag commented on #9
I will give it a try right away and I will let you know. Thanks for the immediate response @danielpacak .

[2020-06-22 15:13] zoispag commented on #9
It works. I will open a PR right away :)

[2020-06-22 17:40] #9 closed

[2020-06-22 18:12] zoispag opened #11 "Bug: Last tag is `v0.0.7` rather than `0.0.7`"
Hi @danielpacak,

I tried to use the latest tag, but it failed and i noticed that latest tag includes `v` as part of the tag. Shall I update the README.md or a new tag shall be craeted?

[2020-06-22 18:19] danielpacak commented on #11
My bad. I've release with 0.0.7 tag now! Thanks for heads up!

[2020-06-22 18:23] zoispag commented on #11
Perfect! Thanks!

[2020-06-22 18:23] #11 closed

[2020-06-23 14:23] danielpacak opened #12 "Demonstrate how to use --cache-dir flag with GitHub cache action"
Trivy has the --cache-dir flag to point to the location where DB and image layers are cached. If we combine that with the https://github.com/actions/cache we can speed up some build jobs.

[2020-08-14 07:34] danielpacak opened #17 "Set custom icon for Trivy action in marketplace"
AFAIK it's possible to request setting a custom icon for the action (see actions by Amazon and Google), which is displayed in the Marketplace:

<img width="1126" alt="custom_icon_for_trivy_action" src="https://user-images.githubusercontent.com/1322923/90224950-cee24600-de10-11ea-9f37-2ba1e4f94336.png">

Our action has the default play icon, which is not very appealing:

<img width="829" alt="trivy

[2020-08-14 07:40] danielpacak commented on #17
https://github.community/t/can-one-set-a-custom-image-icon-for-a-github-action-or-github-workflow-or-only-github-apps/17513/4

[2020-08-26 10:39] VincentPost-TomTom opened #18 "JSON output not saved as file."
Hi, I'm having difficulties getting to the json output file. This is my workflow:

[code]

but the json file is not present

![image](https://user-images.githubusercontent.com/70152856/91293971-1ebdf700-e799-11ea-83f2-d77d0bebe711.png)
![image](https://user-images.githubusercontent.com/70152856/91294006-28dff580-e799-11ea-8888-82eaf43162a0.png)

What am I doing wrong here?

[2020-08-26 12:57] VincentPost-TomTom commented on #18
I used 0.0.7 instead of 0.0.8 which lead to:
[code]

Updating to 0.0.8 fixed that.

[2020-08-26 12:57] #18 closed

[2020-10-08 04:46] kgeorgiou commented on #12
Hey @danielpacak - I tried to look into this and observed the following:

1. [`trivy image`](https://github.com/aquasecurity/trivy#image-1) doesn't support the `--cache-dir` flag - not sure why
2. When the `aquasec/trivy` container runs, I believe it creates `/root/.cache/trivy` **inside** the `aquasec/trivy` container.
For `actions/cache` to cache that directory, it needs to live on the host file

[2020-10-28 15:00] jerbia commented on #17
@simar7 the logo is very small. Can we fix that?

[2020-10-30 13:54] linuxbsdfreak commented on #12
Hi @danielpacak

I am also trying to run Trivy with Tekton based with an example

https://github.com/lumjjb/tekton-demo/blob/master/yamls/build-img-task.yaml
https://github.com/lumjjb/tekton-demo/blob/master/yamls/update-trivy.yaml

I also see that there is no --cache-dir flag. I was wondering whether that has been removed. Would be nice to have the trivy db downloaded and image layers cached for

[2020-11-10 09:53] danielpacak commented on #12
The `--cache-dir` flag is the global option. Check the output of `trivy -h` instead of `trivy image -h` and you'll get it. I checked Trivy v0.12.0 and it's there

[2020-12-07 12:18] breucode opened #21 "Provide additional information as output"
It would be great to get additional information out of this action via outputs.

The thing I would be particularly interested in is the total number of vulnerabilities.

This would make it easier to create badges. Currently I can't use the trivy action because of that. For reference, I am currently getting this number like this: https://github.com/breucode/imisu/blob/6a8565a1b9d55023fa789ebdc3659c

[2020-12-14 14:36] lucmichalski opened #22 "Uploading sarif files: instance.runs[0].tool.driver.rules contains duplicate item"
Hi guys,

Hope you are all well !

I tried trivy action and I have the following error:
[code]

<img width="986" alt="Screenshot 2020-12-14 at 15 33 21" src="https://user-images.githubusercontent.com/1963546/102093802-deef4e00-3e21-11eb-9484-8edb348b17ad.png">

Is there a parameter to set in trivy to avoid duplicates ?

Here is my workflow file:
https://github.com/lucmichalski/prestashop-docker/bl

[2020-12-15 20:16] simar7 commented on #22
hi @lucmichalski - I'd like to repro this, is the image you were running this against public? Also would it be possible for you to share the generated SARIF output?

You can do so by running trivy as:
[code]

You can find a copy of `sarif.tpl` here: https://github.com/aquasecurity/trivy/blob/master/contrib/sarif.tpl

[2021-02-03 10:51] AntonOellerer opened #23 "Allow scanning of image tarballs"
Hey,
Thank you for this nice action!
Would it be possible to support scanning image tarballs as generated by e.g. [jib](https://github.com/GoogleContainerTools/jib/) (Like it can already be done by trivy by using the `--input` flag)
Best regards
Anton

[2021-02-05 21:40] simar7 opened #24 "Add Trivy Action as a build hook for Github repos"
**Motivation**
Today Trivy supports both filesystem and repo scanning. We can take this paradigm and extend it even further by allow Trivy Github Action (this repo) to be used as a build time hook for Github repos.

**Use Case**
Adding a check to each PR (with Trivy Action configured as a Github Action) as it's opened, to check for vulnerabilities introduced by new changes.

**Acceptance Criteria*

[2021-02-08 14:27] javixeneize opened #25 "Break workflow when using sarif"
Hi

Im trying to run trivy, generate a sarif report, upload the artifact, and then, depending on the vulnerabilities, break the workflow or allow it to continue.

Im setting something like this:

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'javidr/vulnerbank:latest'
          format: 'template'
          template:

[2021-02-11 21:55] simar7 commented on #25
hi @javixeneize - you could set a conditional of `    - if: always()` with your Upload artifact step.

Something like this:
[code]

More details here https://docs.github.com/en/actions/reference/context-and-expression-syntax-for-github-actions

Hope that helps.

[2021-02-11 22:00] simar7 commented on #23
hi @AntonOellerer - at the moment we don't have any plans to add that as a feature. What's your use case? As always we'll be happy to take a look at your contribution for it if you had one in mind.

[2021-02-12 13:27] AntonOellerer commented on #23
Hey,
the advantage for us would be that we would not have to push the image to a remote repository each time or hassle with setting up a local one.
I for now solved it by using the docker image directly, but maybe I will get around to submit a PR.
Best regards
Anton

[2021-02-13 11:52] beevelop commented on #22
Experiencing the same issue with an image scan for Docker-Android:
[code]

Build: https://github.com/beevelop/docker-android/pull/29/checks?check_run_id=1891411385

[2021-02-16 08:51] javixeneize commented on #25
Yeah it should work, but maybe it is also a good idea to add an option do save the report directly inside the action without having to add that step

Thanks!

[2021-02-20 02:04] hakusaro commented on #23
@simar7 I'm actually in the same boat -- I'd like to be able to run against kaniko containers that have been built elsewhere, but trivy needs to take them in image tar format.

[2021-02-22 19:49] simar7 commented on #23
thanks folks for your feedback - we will take a look into this again.

[2021-02-25 00:32] simar7 commented on #22
@rahul2393 - can you take a look into this?

[2021-02-25 00:34] simar7 commented on #21
Thanks for the report @breucode

@rahul2393 - can you take a look into this?

[2021-02-25 00:43] simar7 commented on #23
@rahul2393 - could you look into this

[2021-02-25 14:07] domgraziano opened #28 "0.0.9 can break builds"
Using version 0.0.9 seems to be buggy
[code]

The `ignore-unfixed: true` will be ignored !

Tried the exact same with version 0.0.8 and it works (--ignore-unfixed is in the logs with that version)

[2021-02-25 23:25] simar7 commented on #28
@rahul2393 can you look into this?

[2021-02-27 06:33] #28 closed

[2021-02-27 06:36] simar7 commented on #28
Thanks for the report again @domgraziano – I've pushed a new release which should fix this issue. Please give it a try at https://github.com/aquasecurity/trivy-action/releases/tag/v0.0.10

[2021-02-27 06:37] #24 closed

[2021-02-28 09:03] domgraziano commented on #28
yes confirming it works again

[2021-03-01 14:43] nathankleyn opened #30 "Setting `ignore-unfixed` no longer working with `0.0.9`"
Hello! 👋

We are using your wonderful action to scan for CVEs in our Docker images — thank you for hard work and contribution to open-source!

Sadly we noticed that there seems to be a regression in `0.0.9` with respect to `ignore-unfixed`.

In `0.0.8` setting `ignore-unfixed: true` correctly ignores CVEs that have no published fix version yet.
In `0.0.9` setting `ignore-unfixed: true` has no effe

[2021-03-01 14:45] nathankleyn commented on #30
I'm so sorry, should have checed first but just seen you've published 0.0.10 and it has a fix for this!

This issue was related to https://github.com/aquasecurity/trivy-action/issues/28. Closing!

Thanks again for everything!

[2021-03-01 14:45] #30 closed

[2021-03-02 11:11] domgraziano commented on #30
note that the version has been published as v0.0.10 instead of simply 0.0.10 as all the previous version this could cause quite a lot of confusion, I'd suggest to create a tag with 0.0.10 without deleting v0.0.10 as someone it might have used that already

[2021-03-02 11:13] domgraziano commented on #30
I'd also suggest to delete 0.0.9 and recreate it from master (without caring about the fact that is identical to 0.0.10), that would automatically fix issues for other people trying to checkout 0.0.9 which holds the bug in it

[2021-03-02 14:29] domgraziano commented on #28
note that the version has been published as v0.0.10 instead of simply 0.0.10 as all the previous version this could cause quite a lot of confusion, I'd suggest to create a tag with 0.0.10 without deleting v0.0.10 as someone it might have used that already

I'd also suggest to delete 0.0.9 and recreate it from master (without caring about the fact that is identical to 0.0.10), that would automatica

[2021-03-18 05:50] brianlow opened #32 "Support --skip-dir options"
Getting false positives on dockerized rails apps due to https://github.com/aquasecurity/trivy/issues/282

The solution is to use `--skip-dirs`

Would you be open to a PR?

[2021-03-19 22:21] #32 closed

[2021-03-19 22:21] simar7 commented on #32
hi @brianlow - https://github.com/aquasecurity/trivy-action/pull/33 was committed. Let us know if you run into problems.

[2021-03-19 22:23] simar7 commented on #23
Any update on this @rahul2393?

[2021-03-20 14:14] rahul2393 commented on #23
@simar7 yes please review https://github.com/aquasecurity/trivy-action/pull/34

[2021-03-20 18:07] rahul2393 commented on #22
The issue is happening because of duplicate ruleID, I am creating patch to append Package Name too in ID

[2021-03-23 17:46] rahul2393 commented on #22
@simar7 help review PR

[2021-03-24 20:56] simar7 commented on #23
hi @hakusaro and @AntonOellerer - we just released https://github.com/aquasecurity/trivy-action/releases/tag/0.0.13 which includes the `--input` functionality. Please give it a shot. Feel free to reopen this issue if something isn't right. Thanks.

[2021-03-24 20:56] #23 closed

[2021-03-24 20:58] simar7 commented on #22
@lucmichalski https://github.com/aquasecurity/trivy/pull/913 was merged and the next release of Trivy/TrivyAction will support it.

[2021-03-25 19:52] beevelop commented on #22
Thank you both 🙏

[2021-04-01 02:02] hakusaro commented on #23
@simar7 thank you so much! I really appreciate it!

[2021-04-15 07:43] erzz opened #36 "Support or Document how to scan image in remote private repository"
Documentation (or the lack of) suggests that the action doesn't support pulling of remote image to scan, particularly private registries.

There are no inputs for credentials but perhaps a `docker login` step would work? 🤷🏻

Either way we would like this supported in the action, just like the standard binary supports, because we often would like to run this as a seperate job from the build job and

[2021-04-29 19:15] jsjoeio opened #37 "Question: build image if doing filesystem scan?"
Hi there!

I am new to Trivy and have a basic question.

Is it necessary to build the Docker image if we're just doing a filesystem scan?

Thanks!

[2021-04-29 22:40] brianlow opened #38 "--skip-dirs no longer supports multiple folders"
The `skip-dirs` option no longer works with a comma-separated list

Trivy is reporting vulnerabilities in the skipped directories

I think it could be due to  https://github.com/aquasecurity/trivy/pull/916

[2021-04-30 08:55] knqyf263 opened #39 "Fix Trivy version"
The latest Trivy might break compatibility. The version should be fixed.
https://github.com/aquasecurity/trivy-action/blob/master/Dockerfile#L1

[2021-05-05 19:25] jsjoeio commented on #22
Is this fix in the latest release of TrivyAction?

[2021-05-05 19:56] simar7 commented on #22
Trivy Action uses the latest released version of Trivy https://github.com/aquasecurity/trivy-action/blob/master/Dockerfile#L1

Trivy recently had a new release which includes this fix so by the virtue of that the new Trivy Action will also have it.

[2021-05-05 20:04] jsjoeio commented on #22
Thanks for the quick response! That's what I thought but for some reason, I'm still seeing this error:

https://github.com/cdr/code-server/pull/3296/checks?check_run_id=2512446010#step:5:158

Any ideas on what we might be doing wrong?

[2021-05-05 20:43] simar7 commented on #22
@rahul2393 could you look into this?

[2021-05-05 20:43] simar7 commented on #22
Thanks. We'll investigate and get back to you.

[2021-05-05 22:31] simar7 commented on #39
Oh I see. `--skip-dirs` is the one change that comes to my mind, are there others you can think of? In any case we should pin it as you said.

[2021-05-05 22:47] simar7 opened #40 "Update Trivy-action to support new skip-dirs feature"
Trivy now uses a different format of passing in skip-dirs, we need to update the trivy action to support this change: https://github.com/aquasecurity/trivy/discussions/966

Relevant line is here:
https://github.com/aquasecurity/trivy-action/blob/9c91cd8af6ba82a2fc9a466d3128d3549aa97e22/entrypoint.sh#L84

[2021-05-05 22:48] simar7 commented on #40
@rahul2393 could you look into this?

[2021-05-05 22:48] simar7 commented on #38
Thanks we need to update this. I have filed an issue to track this https://github.com/aquasecurity/trivy-action/issues/40

[2021-05-05 22:49] simar7 commented on #39
Filed an issue https://github.com/aquasecurity/trivy-action/issues/40

[2021-05-05 22:49] simar7 commented on #37
Hi @jsjoeio - no it is not as you can use the filesystem scan feature directly.

[2021-05-05 22:50] simar7 commented on #36
Thanks @erzz we'll take a look.

@rahul2393 could you investigate this

[2021-05-05 23:13] jsjoeio commented on #37
Cool! Thank you!

[2021-05-05 23:13] #37 closed

[2021-05-06 11:35] knqyf263 commented on #39
v0.17.0 had some bugs and it affected fs scanning.
https://github.com/aquasecurity/trivy/issues/983
https://github.com/aquasecurity/trivy/issues/968

[2021-05-06 17:06] rahul2393 commented on #36
Thanks @erzz for reporting the issue, updated the Readme to have steps to pull private registries here https://github.com/aquasecurity/trivy-action/pull/42, please let us know if you find any issues.

[2021-05-06 17:46] simar7 commented on #39
Thanks for the heads up! We have pinned it going forwards https://github.com/aquasecurity/trivy-action/pull/41

[2021-05-06 17:46] #39 closed

[2021-05-06 17:49] simar7 commented on #40
released here https://github.com/aquasecurity/trivy-action/releases/tag/0.0.15

[2021-05-06 17:49] #40 closed

[2021-05-06 17:49] simar7 commented on #38
@brianlow it's now available as part of the latest release https://github.com/aquasecurity/trivy-action/releases/tag/0.0.15

feel free to reach out and/or re-open this if you still face an issue

[2021-05-06 18:00] simar7 commented on #37
We improved the readme a little in order for this ambiguity to go away as well https://github.com/aquasecurity/trivy-action/pull/43

[2021-05-06 18:05] jsjoeio commented on #37
Oh fantastic! I'm sure that will help others when they're first getting started with `trivy-action`

[2021-05-06 18:41] rahul2393 commented on #22
@simar7 please help check this https://github.com/aquasecurity/trivy/pull/984

[2021-05-07 10:20] douglasduteil commented on #22
I'm experiencing the same 🐛 on some image
Thanks for the PR @rahul2393

[2021-05-07 10:31] erzz commented on #36
@rahul2393 - Looking good! Great work!

I guess there are other variations that could be used for GCR too such as

[code]

or using the `google-github-actions/setup-gcloud@master` action with `export_default_credentials: true` in a preceding step I guess - but the current doc is good and self-contained examples

Thanks!

[2021-05-07 10:31] #36 closed

[2021-05-12 17:10] rahul2393 commented on #22
@jsjoeio Update your workflow to use latest commit in master branch I see you are using previous commitID here
https://github.com/cdr/code-server/blob/main/.github/workflows/ci.yaml#L450, the issue should be fixed.

[2021-05-12 17:22] jsjoeio commented on #22
Awesome, we'll go ahead and update that. Thanks for getting a fix out so quickly! We really appreciate it.

[2021-05-12 17:41] jsjoeio commented on #22
@rahul2393 oh no, I'm seeing the same error. [See logs](https://github.com/cdr/code-server/pull/3368/checks?check_run_id=2568798059).

![image](https://user-images.githubusercontent.com/3806031/118018813-20baec80-b30d-11eb-8f97-7fbebeb5d83f.png)

I updated it to use the latest commit in the master branch [here](https://github.com/cdr/code-server/pull/3368/files#diff-944291df2c9c06359d37cc8833d182d

[2021-05-12 17:42] rahul2393 commented on #22
Checking

[2021-05-13 07:13] rahul2393 commented on #22
@jsjoeio I just ran the latest fix here in my forked version of your repo https://github.com/rahul2393/code-server/runs/2573437202?check_suite_focus=true, it passed, so we will not do a new release and you can then use it

[2021-05-13 16:44] jsjoeio commented on #22
Thanks for taking a closer look!

Sorry, this confused me a bit. Are you saying the current version works and I should try again or are you saying you are going to push a new release and then I can use that?

[2021-05-13 16:48] rahul2393 commented on #22
Sorry I did typo in previous message, we are going to push a new version then you can use it, I will inform you.

[2021-05-13 18:26] rahul2393 commented on #22
@jsjoeio can you check this one now?
https://github.com/aquasecurity/trivy-action/releases/tag/0.0.17

[2021-05-13 19:09] jsjoeio commented on #22
@rahul2393 that worked!! Thanks so much 🙌

https://github.com/cdr/code-server/pull/3368/checks?check_run_id=2578181406

[2021-05-14 01:28] knqyf263 commented on #22
@jsjoeio Thanks for your confirmation! We're sorry for the inconvenience 🙏

[2021-05-14 15:50] anandg112 opened #49 "Feature-request: Filter vulnerabilities through OPA rego language"
I would like to use the `--ignore-policy` flag to filter vulnerabilities with OPA rego language
https://aquasecurity.github.io/trivy/v0.18.1/examples/filter/#by-open-policy-agent

I have a PR for this as well - https://github.com/aquasecurity/trivy-action/pull/48

[2021-05-21 14:29] bluedigits commented on #12
@danielpacak Sadly, your answer doesn't make sense.

[2021-05-21 14:32] bluedigits commented on #12
Sadly, that doesn't make sense. I tried `trivy-action` in our GH workflow in several versions, and indeed the `cache-dir` flag doesn't work: `Incorrect Usage: flag provided but not defined: -cache-dir`
My GH workflow step looks like this:
[code]

[2021-05-24 16:00] vlaurin opened #50 "Bug: cache-dir input is causing an error"
I've been trying to use the `cache-dir` input introduced in commit b38389f8efef9798810fe0c5b5096ac198cffd54 and consistently get the following error when that input is set:

[code]

This seems to affect all recent versions of this action from v0.0.14 to and including v0.0.17.

I've had a quick look and this error seems to make sense: as per [Trivy usage](https://aquasecurity.github.io/trivy/v0.18.

[2021-05-24 17:11] vlaurin commented on #12
@bluedigits See #50 and associated PR, that seems to resolve the error you are facing.

However, even with that fix I don't think the integration with GH actions is working, I still see the DB being downloaded on every run. I suspect the cache-dir also needs to be mounted as a volume on the Docker image which is not the case currently.

I'll try to look into this a bit more tomorrow.

[2021-05-25 13:07] vlaurin commented on #12
Okay, got the cache to work using the fix proposed in PR #51 along with the following workflow:

[2021-05-26 20:10] simar7 commented on #50
thanks for the issue @vlaurin.

@rahul2393 - could you look into it?

[2021-05-26 20:13] simar7 commented on #50
Ah looks like you already have a PR in progress @vlaurin - thanks we'll take a look at that

[2021-05-26 20:13] simar7 commented on #49
thanks I've merged your PR, it will be available in the next release

[2021-05-26 20:13] #49 closed

[2021-05-26 23:15] anandg112 opened #52 ".trivyignore with trivy-action?"
Does `.trivyignore` work with trivy-action out of the box? Can we put `.trivyignore` file at the root of project and Action will ignore vulnerabilities that are in the file?

[2021-05-27 04:37] rahul2393 commented on #50
Looks like I only have to review the PR. looks good to me

[2021-05-27 16:03] #50 closed

[2021-05-27 16:06] simar7 commented on #52
That's an interesting idea. My guess it should work. Have you tried it?

[2021-05-27 17:20] simar7 commented on #22
@lucmichalski please feel free to reopen this if your issue still persists.

[2021-05-27 17:20] #22 closed

[2021-06-02 06:33] mgmgwi commented on #52
I tried it like this:

[code]

Unfortunately this does not work.

[2021-06-02 18:07] simar7 commented on #52
thanks for the feedback @mgmgwi. @rahul2393 - could you take a look into this?

[2021-06-07 05:48] rahul2393 commented on #52
Hello @mgmgwi I ran the pipeline using .trivyignore
https://github.com/rahul2393/trivy-ci-test/runs/2739151771?check_suite_focus=true, it was working as expected, can you instead of doing via grep just pass .trivyignore in the GitHub repo itself?

[2021-06-07 07:07] mgmgwi commented on #52
Hello @rahul2393,
I looked at your example and I can't understand how that would work. According to [the documentation](https://aquasecurity.github.io/trivy/v0.18.3/examples/filter/#by-vulnerability-ids) the .trivyignore should look like this:

[code]

But this

https://github.com/rahul2393/trivy-ci-test/blob/2b4048f1ccb778beaddcf47f1a178813036a10b9/.github/workflows/scan.yml#L11-L12

just writes

[2021-06-28 06:11] rahul2393 commented on #52
Yes @mgmgwi I added the CVE-2021-30139 in .trivyignore, in the previous run you can see it was in the output here
https://github.com/rahul2393/trivy-ci-test/runs/2928860875?check_suite_focus=true, after adding in .trivyignore
https://github.com/rahul2393/trivy-ci-test/runs/2928872058?check_suite_focus=true
so its working fine in trivy-action

[2021-07-02 10:58] bluedigits commented on #52
I tried to add a `.trivyignore` file, I added my CVE there and it worked :)

[2021-07-05 07:54] delprofundo opened #53 "Raised issues overload severity"
Hi There!

We've recently moved to using Github for our CI steps. Our security auditor has access to the security panels for the org and repositories. He's raised the point that the severity flag is being overridden. In the case of a code error that is found the severity is listed as Error. Once you drill into the record you see the severity level.

Is this by design or have we missed something?

[2021-07-15 04:33] bsord opened #54 "Unable to use new 'config' feature as scan-type"
The latest Trivy release v0.19.1 includes the ability to scan configs which include IAC/YAML files, but this action does not appear to have the latest image to support using scan-type: 'config'. I'd like to propose updating the Trivy version used by this action to v0.19.1.

[2021-07-19 03:20] jonfairbanks commented on #54
Any chance we could get this fix merged, would love to use this.

[2021-07-20 02:14] simar7 commented on #53
hi @delprofundo - would you have more info on how you ran trivy action in this case? we currently use the error code to signal the CI pipeline to pass/fail depending on the results of the scan.

[2021-07-20 02:15] #52 closed

[2021-07-27 21:49] #54 closed

[2021-07-28 04:05] peter-kipping-seequent opened #57 "Trivy failing on config scan of terraform files on 0.0.19"
Hi there, with the recent release of the actions version 0.0.19 we are seeing our actions failing for
`scan error: image scan failed: failed analysis: analyze error: failed to analyze layer: sha256:87ceb75dec9b514f26b1b9227e29d4f72790c37a5c1c3281efe349dda702e544 : config scan error: scan terraform error: terraform scan error: stat /github/workspace/evo-hub-infra/main/variables.tf: no such file or

[2021-08-03 21:30] peter-kipping-seequent commented on #57
Hey guys, any update on this issue?
I've had a PR sitting around for nearly a week that should fix this but with no action?

[2021-08-06 13:37] gustavomonarin opened #59 "Add support to skip-files"
While the already implemented in the GitHub-action `skip-dirs` does the job it feels not natural to use for files.

Since Trivy already support `--skip-files`, it would be nice to support it also on the GitHub action.

I could implement the feature if you feel valuable.

[2021-08-17 18:50] #57 closed

[2021-08-17 19:03] simar7 opened #61 "Add support for showing & saving vulnerabilities without failing pipeline"
Today Trivy does not offer the ability to display vulnerabilities while still returning a pass for the pipeline run

**Example:**
Project has 4 vulns: 2 high, 2 low, 0 critical
$ trivy fs --exit-code=1 --severity=CRITICAL .

**What I got:**
Trivy shows no vulnerabilities. Exit code 0.

**What I want:**
Show all vulnerabilities regardless of the level, still have an exit code of 0 as none of the vu

[2021-08-20 11:46] dshuvar opened #62 "How can I send Trivy scan results to another cloud-native / open-source security product?"
For example, this part of code for github action send scan result to GH security tab your repo.
[code]
How can I send Trivy scan results to another (something other than github security) cloud-native / open-source security product/panel?

[2021-08-20 13:29] williamfalconeruk opened #63 "BUG: panic raised on scanning of terraform folder"
Hi,

Hope someone can help:
 We're attempting to run the trivy scanner on one of our terraform folders and are seeing a segmentation fault:

https://github.com/ministryofjustice/opg-lpa/runs/3382241340?check_suite_focus=true#step:4:20

Note it works on one of our other terraform folders.
not sure if this is something we should be seeing or is a known issue. can someone advise?

[2021-08-20 18:34] simar7 commented on #62
hi @dshuvar - the current implementation uses github/codeql-action/upload-sarif which is a GitHub action to upload sarif results to GitHub security panel as you mentioned.

There might be other actions available out there for your use or you could simply do a curl POST request to an endpoint you want to send to in order to do this. The GitHub sarif report is available inside of the runtime workspa

[2021-08-20 18:36] simar7 commented on #63
thanks for the report @williamfalconeruk - I will take a look at it shortly.

[2021-08-21 00:18] simar7 commented on #63
I took a look at it @williamfalconeruk - I've opened another issue to track it down here https://github.com/aquasecurity/trivy/issues/1193 - this error is actually coming from tfsec (Trivy's downstream dependency for config scanning) rather than Trivy or Trivy Action itself. Looks like something went wrong with one of the rules for AWS scanning and a panic trace was outputted for debug purposes.

[2021-08-21 00:18] #63 closed

[2021-08-23 11:07] williamfalconeruk commented on #63
@simar7 thanks for taking a look - i'll keep an eye on the other issue.

[2021-09-23 00:04] sookeke opened #64 "Aqua Trivy for Openshift private registry"
I'm working with Openshift Container and I want to know how to use Aqua trivy to scan image in our container registry

[2021-09-24 15:04] krol3 commented on #61
I would like to help with this improvement.

[2021-09-24 15:31] krol3 commented on #64
Hi @sookeke , are you trying to use in the CI/CD ? You can build the image and use trivy to validate the vulnerabilities. Check this sample: https://github.com/aquasecurity/trivy-action#workflow

[2021-09-24 16:52] simar7 commented on #61
All yours @krol3 👍

[2021-09-24 21:27] sookeke commented on #64
@krol3  Thank you, I figured this out

[2021-09-24 21:27] #64 closed

[2021-09-25 01:08] krol3 opened #65 "trivy-action using config option and template sarif"
Using the template sarif, I can't see the  information about the misconfiguration details.

Github workflow: https://github.com/krol3/demo-trivy/blob/main/.github/workflows/trivy-missconfiguration.yaml

See the sample of this workflow: https://github.com/krol3/demo-trivy/pull/2/checks?check_run_id=3705915823

[2021-10-14 11:10] fxnn opened #66 "update to trivy 0.20.0"
[v0.20.0](https://github.com/aquasecurity/trivy/releases/tag/v0.20.0) is out for 8 days now. Any plans for the update? 🙂

Thanks in advance!

[2021-10-14 12:41] Sunil-Jacob opened #67 "Podman sock Error"
Hi Team,

I get the below error while using Github trivy action:

`client: no podman socket found: stat podman/podman.sock: no such file or directory`

Below is the code:
[code]
Please advise

[2021-10-15 05:55] pratik-parikh01 opened #68 "How to run trivy action with local image"
In my build workflow, i first build the image, push to private registry and then run trivy action. This takes time since trivy has to fetch the image from the private registry. Is there a way this could work with local image? This will save time for larger images.

[2021-10-16 13:56] llaville opened #70 "[v0.20.1] wrong timeout option description"
With latest release 0.20.1, we still have a timeout option description https://github.com/aquasecurity/trivy-action/blob/master/action.yaml#L56-L59, with wrong description vs default value.

[2021-10-19 09:32] erzz opened #71 "Frequent yet inconsistent timeout failures"
Seeing a lot of CI jobs failing inconsistently recently with the following:

[code]

[code]

Note that its 5 minutes between `Downloading DB...` and the eventual failure - so I don't think the timeout (2 mins according to your docs) is really applying here.

[2021-10-26 18:43] #66 closed, assigned to nobody

[2021-10-26 20:26] vishiy opened #72 "--skip-dirs broken in 0.0.21 latest release"
We started seeing this issue because our github actions have started failing as --skip-dirs are being scanned and thats failing those actions.

[2021-10-27 08:19] denisgolius opened #74 "Error: repository not enabled for code scanning"
Hi there!
Is this trivy scanner can work with a public repository? My repository is a private.
Here is `trivy.yml` file:
[code]

And this is error log from actions:

[code]

What I am doing wrong? Maybe there is a working example for copy/paste and it will work?

[2021-10-28 16:21] #74 closed, assigned to nobody

[2021-10-29 03:46] ldclakmal opened #75 "Trivy scan fails intermittently with 504 status code"
Trivy scan action fails intermittently on multiple repositories at the step of `Downloading DB`, a sample log is attached hereweith:

[code]

Here is the sample workflow file:

[code]

[2021-10-31 11:04] erzz commented on #71
To be honest the issue seems to have died down over the days since.

Perhaps there was issues around GitHub package repos over that day or two.

Great that the docs for updates... But perhaps we park this for now and I can reopen of needed

[2021-10-31 11:04] #71 closed

[2021-10-31 23:37] sharmmoh1983 opened #76 "Does Scanning expose Environment variables used in image"
Hi team

From security perspective , does scanning image exposes sensitive values used through  environment variables  in image

[2021-11-02 02:21] lucacome opened #77 "GitHub Code Scanning shows all vulnerabilities"
After this https://github.com/aquasecurity/trivy-action/pull/73 all the vulnerabilities show up in the Code scanning alerts.

I see from the PR that this is a feature, but now all the images are flagged as vulnerable even though there isn't a fix available (OS packages).

Should this feature take into consideration the `ignore-unfixed` flag?
Or how is this supposed to work? Because at the moment w

[2021-11-08 18:50] simar7 commented on #77
Thank you for your feedback @lucacome - I do agree with you that it should take the ignore-unfixed flag into consideration (and potentially others as well). It would require some additional logic to handle the existing options.

@rahul2393 would you be able to take a look at this?

[2021-11-10 17:49] rohitagg2020 opened #80 "How to provide directory for rootfs subcommand."
Hi,

When I do trivy rootfs -h, it says the usage will be `trivy rootfs [command options] dir`. In my local, I can give the dir. e.g.

`trivy rootfs <GOLANG_BINARY_PATH>`

But when I am using it as github action, I am not sure how to provide this <GOLANG_BINARY_PATH>. This is my sample github action.

[code]

Can you please help me to figure out where I should give the path. Prior to v0.0.20, I wa

[2021-11-10 21:11] #77 closed

[2021-11-10 21:30] simar7 commented on #77
@lucacome - I've just merged the PR that should address this, thanks @rahul2393. Could you try to pin with a version of: `2a2157e` to use the feature to try it out? If all looks good, we'll cut a release soon! thank you.

[2021-11-11 06:40] lucacome commented on #77
Seems to be working fine @simar7 🎉

[2021-11-12 09:28] rethab opened #81 "releases with major versions / semantic versioning"
hey @simar7 ,

it looks like there are no major versions published and the recommended practice is to include this action from the `master` branch. That's a bit too yolo for me 😄

Are there any plans on publishing a version that can be referenced without going all the way to the patch-level? Ideally, I can reference a version that gives me all fixes and features, but no breaking changes.

If that'

[2021-11-12 13:36] ldclakmal commented on #75
@simar7 could you please advice on how to fix this?

[2021-11-12 18:31] simar7 commented on #75
To me this looks like the GitHub API timing out when pulling the Trivy DB.

[2021-11-12 18:34] simar7 commented on #81
Where did you see this?

We should do proper semantic versioning. I'll add that to our list. But that still shouldn't prevent you from using a released version.

[2021-11-13 00:02] simar7 commented on #80
hi @rohitagg2020 - not sure if I understand your question. You can pass in a scan ref or an input flag as usual. https://github.com/aquasecurity/trivy-action/blob/master/action.yaml#L12-L19

[2021-11-13 00:03] simar7 commented on #76
Do you mean if a Trivy scan would expose this information?

[2021-11-13 00:04] simar7 commented on #81
https://github.com/aquasecurity/trivy-action/releases/tag/0.1.0 is now available. Let us know if you still need help.

[2021-11-13 00:04] #81 closed

[2021-11-13 00:05] simar7 commented on #72
This should be fixed in the latest release. Could you give it another shot with v0.1.0? Let us know if you still need help.

[2021-11-14 05:37] rohitagg2020 commented on #80
hi @simar7 - I tried running it with both scan-ref and input, bot seems like both of them are not supported flags now. Below is the sample output I get when running trivy github action with `rootfs`.

[code]

[2021-11-15 09:07] rethab commented on #81
Hi @simar7,

Thanks for your response.

The `master` is referenced in the README. I suspect most people are just going to copy whatever is in the README :)

I should have been more clean with what I meant regarding semantic versioning, sorry. What I meant was that it would be nice to be able to reference e.g. `v1` in my workflow rather than a specific version such as `v0.0.22`. The former would al

[2021-11-15 10:36] rethab commented on #81
Sorry, one more comment if I may :)

Your release `0.1.0` seems to be missing the `v` prefix. This means your action would need to be referenced like so:
[code]

whereas it is custom to reference actions with the `v` prefix, e.g.
[code]

Here's an example from `actions/checkout` (note the v prefix in the middle):
![image](https://user-images.githubusercontent.com/2222044/141766947-166fcd03-b34e-41

[2021-11-15 23:38] neil-hickey commented on #80
hi @simar7 I am also getting this:

When running:

[code]

The trivy binary does not get the `dir` argument (i.e `.`)

[code]

[2021-11-16 22:26] simar7 commented on #80
@rahul2393 - could you look into this?

[2021-11-16 22:27] simar7 commented on #72
Let us know if you still have a problem by reopening this issues. Thanks.

[2021-11-16 22:27] #72 closed

[2021-11-16 22:27] simar7 commented on #68
You could use the fs scan option?

[2021-11-17 05:19] pratik-parikh01 commented on #68
I want to scan the entire image like how we scan it but don't want to "pull" the image from some private repository because i already have it locally

[2021-11-17 05:21] pratik-parikh01 commented on #68
fs scan just scans the filesystem but i need the entire image to be scanned

[2021-11-21 07:24] ShubhamPalriwala commented on #68
Even I am looking for a solution for this as we do not push all our local builds to a CR! any way to do this?

[2021-11-24 20:09] simar7 commented on #75
Please feel free to reopen this issue if you still have outstanding questions. Thanks.

[2021-11-24 20:09] #75 closed

[2021-11-25 10:44] rahul2393 commented on #80
Hello @rohitagg2020 and @neil-hickey please confirm if this PR: https://github.com/aquasecurity/trivy-action/pull/84 helps you running the "rootfs" action thanks

[2021-11-26 18:32] #80 closed

[2021-11-26 20:01] #59 closed

[2021-11-30 00:27] m-mizutani opened #86 "Support --list-all-pkgs option in trivy-action"
Hi Team,

I want an argument to enable`--list-all-pkgs` option in trivy-action. Cloud you consider to add the option? or let me send PR.

## What I want

I would like to write config like below:

[code]

## What I got

No such option in https://github.com/aquasecurity/trivy-action/blob/master/action.yaml

## Use case

Make a decision of CI success/failure with not only vulnerability information bu

[2021-12-10 18:19] simar7 commented on #86
That sounds like a good idea. We welcome your contribution.

[2021-12-11 04:03] m-mizutani commented on #86
@simar7 Thank you for a comment. I created PR #88 for list-all-pkgs option. Could you review the PR?

[2021-12-19 11:19] m-mizutani commented on #86
#88 was merged and the issue was also resolved. Thank you!

[2021-12-19 11:19] #86 closed

[2022-01-18 17:02] sruehl opened #90 "trivy action touches ~/.config as root"
When using a jobs that uses a container which runs after the trivy github action you likely get a permission denied when you try to write to .config. It seems like whenever you run the trivy action the folder ends up root owned:
![image](https://user-images.githubusercontent.com/1769155/149983759-ddf8b691-f7a4-44cc-9310-a81edaaaddd2.png)

[2022-01-19 16:16] gasgithub opened #91 "Is it possible to somehow pass .trivyignore file to Trivy GH action?"
I'd like to ignore some of the vulnerabilities same way as specifying .trivyignore does.
Could this be somehow passed to action?

Regards

[2022-01-20 17:37] detnon commented on #65
I have similar issue where a manual scan locally will shows CVE's, but if I tell it to output as sarif i get no results;
`trivy fs --security-checks vuln,config --f template --template "@contrib/sarif.tpl" -o report.sarif --severity CRITICAL,HIGH,MEDIUM,LOW ~/path/to/repo`

returns

[code]

[2022-01-20 17:40] detnon opened #92 "Trivy does not generate a .sarif report for fs checks"
I have an issue where a manual scan locally will shows CVE's, but if I tell it to output as sarif i get no results;
`trivy fs --security-checks vuln,config --f template --template "@contrib/sarif.tpl" -o report.sarif --severity CRITICAL,HIGH,MEDIUM,LOW ~/path/to/repo`

returns

[code]

Whereas `trivy fs --security-checks vuln,config --severity CRITICAL,HIGH ~/path/to/repo` will give a detailed ana

[2022-01-26 10:42] #92 closed

[2022-01-27 08:39] krol3 commented on #90
@sruehl could you share the steps to reproduce the issues?

[2022-01-27 08:46] krol3 commented on #91
@gasgithub Good question! Currently the action is built using Dockerfile and the entrypoint.sh. https://github.com/aquasecurity/trivy-action/blob/master/Dockerfile

I think we could create a parameter to receive the CVE and create the .trivyignore.

Any thoughts @simar7

[2022-01-27 08:49] krol3 commented on #67
@Sunil-Jacob,   are you still with problems? could you share more details about the image.

[2022-01-27 08:57] krol3 commented on #17
@simar7, could we close this issue? or we need to update with the latest icon?

[2022-01-27 12:20] tomasnorre opened #93 "Problem with ghcr login"
Hi,

Thanks for this nice GitHub Action. It helps me a lot.

I have a GitHub Action using this, where I'm iterating over all images that I'm using in my setup.
This means some are public, some are private on ghcr.io.

When using the Environment variables as suggested https://github.com/aquasecurity/trivy-action/blob/master/README.md#docker-hub-registry the private ones works, but the public doesn'

[2022-01-27 13:06] sruehl commented on #90
[code]

[2022-01-27 13:07] sruehl commented on #90
use a azure self hosted runner to let the action run

[2022-01-27 16:55] simar7 commented on #17
As discussed offline before, this is something we need to engage the GitHub team to do for us as they don't provide a self serve option.

[2022-01-27 16:58] simar7 commented on #91
Yes, PRs are welcome

[2022-01-27 17:00] simar7 commented on #93
I see. I don't have a solution but a suggestion to maybe scan private and public images in separate jobs?

[2022-01-27 18:03] tomasnorre commented on #93
I have split my jobs for now. But would like them in one. But it's not a big deal, just stumbled upon it, and wondered if I got something wrong.

[2022-01-28 08:06] rethab commented on #81
Hi @simar7 what do you think about my proposal? I think it would be very nice for users to be able to stay up to date without referencing `master` or having to check back here if there's a new version.

[2022-01-30 23:34] jawnsy opened #94 "Description for image-ref has "for backward compatibility" comment"
The image-ref description has the following:

https://github.com/aquasecurity/trivy-action/blob/9c21d3ca2c14eb35419e2a8b66d1195946d579b8/action.yaml#L10

To me, this implies that use of `image-ref` is discouraged and preserved only for compatibility. Is that correct? If so, what should users prefer instead?

I tried using `scan-ref`, but this results in images not being scanned at all, and no erro

[2022-02-01 00:30] larryclaman opened #95 "severity set to CRITICAL but action returning all vulnerabilities"
I'm using the gh action to scan my container, and I have the severity field set to critical, but the scan seems to be returning ALL vulnerabilities.  My code looks like:
[code]

[2022-02-01 12:52] Sunil-Jacob commented on #67
@krol3 , I have not tested it after this. Found a different way to use it

[2022-02-02 23:22] simar7 commented on #95
thanks @larryclaman for reporting this - we'll take a look

@krol3 could you check if your unit tests are able to reproduce this issue locally?

[2022-02-07 18:15] krol3 commented on #65
@detnon  the trivy-action plugin was updated, I will try to test again.

[2022-02-11 02:58] kgeorgiou commented on #95
I believe this is because of the SARIF output format. According to the following lines, this by design:
https://github.com/aquasecurity/trivy-action/blob/a7a829a4345428ddd92ca57b18257440f6a18c90/entrypoint.sh#L138-L144

[2022-02-11 13:40] larryclaman commented on #95
Going to close this as I am having trouble reproducing.

[2022-02-11 15:16] larryclaman commented on #95
cc @simar7 -- could you comment on the above?  I'm trying to understand why sarif reports have special case to return ALL vulnerabilities rather than respecting the user's filter settings.

[2022-03-14 19:35] BretFisher opened #98 "Trivy action doesn't fail if you pass it an empty image-ref"
**Issue:** I'm trying to pass `image-ref` as output from a previous job into a trivy job, and noticed that if `image-ref` is blank, trivy prints help output to GHA logs and gets a green success.

**Expected result:** If the Trivy command fails or is incomplete, it should exit as an action in a way to pass failed to GHA.

For example, if you want to set inputs for `workflow_call` or `workflow_dispa

[2022-04-04 17:10] simar7 commented on #98
hi @BretFisher - thanks for the report. In the latest version of Trivy, this shouldn't be an issue as demonstrated:

[code]

We just updated trivy-action to use Trivy v0.25.0. Soon I'll release a new release of Trivy Action which you start using that should help with this. Thanks for your patience and help with flagging this.

[2022-04-04 17:15] simar7 commented on #94
Yes that's correct. If you're looking to scan an image the following is an example:

[code]

[2022-04-11 16:13] abstractj opened #103 "Not possible to use .trivyignore files"
First, I would like to thank you for all the work, Trivy is a great project.

Using the command line is pretty straightforward to ignore CVEs that for some reason are false positives, or the project does not have any plans to fix like:
[code]

We tried to provide parameters to the Trivy action, but it seems that they don't exist:

[code]
It is possible to provide extra-arguments, like using the `-

[2022-04-26 03:41] maximiliarthur opened #107 "DB error: failed to download vulnerability DB: OCI artifact error: OCI artifact error: OCI repository error: GET"
## Description
I was running the trivy on the github action workflow and give an error message that the vulnerability database can't be downloaded.

## What did you expect to happen?

The trivy can download the vulnerability database

## What happened instead?

The trivy gives an unknown error when failed the download

## Output of run with `-debug`:

[code]

[2022-04-27 00:26] simar7 commented on #103
hi @abstractj - that is correct it is not supported today but we'll gladly look at your PR if you chose to submit one! 👍🏼

[2022-04-27 00:27] simar7 commented on #98
hi @BretFisher - let us know if using the latest version of Trivy Action has helped you with this. If you still need assistance, please feel free to re-open this again.

[2022-04-27 00:27] #98 closed

[2022-04-27 00:28] simar7 commented on #107
hi @maximiliarthur - that's strange indeed. Was this a one time thing (networking issues, etc.) or you are able to constantly reproduce this?

[2022-04-27 10:12] maximiliarthur commented on #107
yeah actually I have tried to re-run the jobs but still reproduce this error

[2022-04-27 10:15] maximiliarthur commented on #107
does the trivy official action support scan the local images? like this one
[code]

[2022-04-27 16:02] dhanakane-tw opened #108 "`skip-dirs` does not seem to work when specified in GHA workflow, or via environment variable"
# Steps to replicate:

Specify a step in a workflow as follows:

[code]

# Expected result:
Directories specified in `skip-dirs` are not scanned for vulnerabilities

# Actual result:
Directories are scanned without exclusion taking effect.

# Notes:
Supplying a comma separated string of directories using an environment variable as suggested in the cli documentation with `TRIVY_SKIP_DIRS` does not

[2022-04-27 16:35] dhanakane-tw commented on #108
Some clarity on how to specify the list would be useful. As the config file is YAML, should it be a comma separated string, or should it be a YAML list?

[2022-04-27 21:40] simar7 commented on #107
I see. I was digging around if this issue was already reported and I think it might be related to this: https://github.com/aquasecurity/trivy/issues/1877

[2022-04-28 01:54] maximiliarthur commented on #107
Yeah, I've read the issue first before but this is a different environment I think. Because I ran the trivy as a workflow using the trivy actions

[2022-04-28 01:57] maximiliarthur commented on #107
Because I've implemented to other repository and no issue occurs. But, only the certain repository that produces this issue

[2022-05-04 10:23] #108 closed

[2022-05-05 18:44] b34rd-tek opened #109 "Secret Scanning"
It appears when scanning a Git Repo using the 'fs' option, secret scanning does not occur. Is there a way to enable this within the action?

If I run trivy from cli with this command:

`trivy repo -f json -o repo.json https://github.com/chili-piper/rippling-scripts`

The resulting json file is:

[code]
When I run from an action setup like this:

[code]
The resulting json file is:

[code]
I don't k

[2022-05-06 18:57] simar7 commented on #109
hi @b34rd-tek - thanks for the report. @krol3 is still working though merging https://github.com/aquasecurity/trivy-action/pull/106 which  will update the action to use the latest version of Trivy that has support for secret scanning.

[2022-05-06 19:02] simar7 opened #110 "Incorporate issue creation mode"
@knqyf263 has created https://github.com/knqyf263/trivy-issue-action which can create issues by running trivy with GH Action. As we already have Trivy Action, we can incorporate that functionality here.

[2022-05-06 19:03] b34rd-tek commented on #109
Thanks so much for the update!

[2022-05-09 15:27] b34rd-tek commented on #110
I find this action works better.

https://github.com/CemitDigital/trivy-report-issue-action

The downside is that if there is no 'Results' key found in the json file it will fail. I created an issue and a pull request on their repo but haven't seen any activity. I may just fork the repository and edit this myself :-).

[2022-05-09 20:17] simar7 commented on #109
hi @b34rd-tek - just released the new version, please give it a try and let us know if this resolved your query: https://github.com/aquasecurity/trivy-action/releases/tag/0.3.0

[2022-05-09 20:21] simar7 commented on #110
hi @b34rd-tek - is there something missing in https://github.com/knqyf263/trivy-issue-action that we can add?

[2022-05-09 20:23] b34rd-tek commented on #110
When I attempted to use the action you linked it wouldn't authenticate to gh to create the issues.

[2022-05-09 20:27] b34rd-tek commented on #109
Thanks! It works perfectly!

[2022-05-09 20:27] #109 closed

[2022-05-18 12:28] tanguy-platsec opened #111 "securityChecks option not available for `image` scan"
Hi team,

I was trying to use the recently added `security-checks` option to remove the secret scanning (enabled by default) because it can cause trivy to timeout on very big images, and by looking at the code, it seems that the option is only being considered for `fs` and `repo` types, while it still appears if I do `trivy image -h`, so I believe it should be available for images too.

I would li

[2022-05-18 13:04] tanguy-platsec commented on #111
My PR : https://github.com/aquasecurity/trivy-action/pull/112
My  tests : https://github.com/tanguy-platsec/trivy-action-security-checks-option-test/actions

[2022-05-18 17:38] HarshCasper opened #113 "Bug: `multiple targets cannot be specified` and `option error: option initialize error: arguments error`"
## Description

I have the following workflow to implement `trivy-action`:

[code]

The workflow fails with the following error:

[code]

I am not able to figure out why the workflow has started failing and what I can do to possibly fix it. My primary use-case is for multiple images to be analyzed on the same runner and GitHub's CodeQL action to put up inferences where we can analyze all the issue

[2022-05-19 16:09] ssuganth opened #114 "Trivy image scan fails at analysis stage"
Trivy image scan fails at analysis stage with follow error.
Everything was working fine when we tested last week and suddenly it started to fail. Any changes made.

Error: Code Scanning could not process the submitted SARIF file:
  SARIF URI scheme "jag-role-registry" did not match the checkout URI scheme "file",SARIF URI scheme "jag-role-registry" did not match the checkout URI scheme "file",
  E

[2022-05-23 14:25] viniciusdc commented on #113
this was due to `${{ steps.meta.outputs.tags }}` returning an array with `multiple entries` which `image-ref` does not support. I don't consider this to be a bug anymore.

Though maybe adding more detailed error information (aka a `--debug` option) would help -- in this case if it had printed the output from the above tags var, the solution would had come quickly

[2022-05-23 15:40] #113 closed

[2022-05-27 11:26] javixeneize opened #115 "generate html and sarif report"
Hi

Is it possible to generate both a sarif and html report using this action?

Thanks

[2022-06-01 07:56] akbast opened #116 "Trivy Action fails with no logs"
Hey,

I am using trivy with following configuration:
[code]

It works as expected that the security issues are found, but I see only following log in the GH Action:

[code]

It is not clear in workflow run why the job is failed.

Is there anything I can configure to see more logs in workflow run?

Thanks

[2022-06-02 22:07] simar7 commented on #115
hi @javixeneize - today this is only possible if you run the action twice, one with SARIF and one with HTML format. We don't support multiple formats at once.

[2022-06-03 06:56] #111 closed

[2022-06-03 07:11] akbast commented on #116
hi @simar7, thanks for the fast answer.

Is it a planned that it will be possible to see both output and get issues into security tab without using the action twice?

[2022-06-03 14:48] simar7 commented on #116
It is not planned yet but we'd welcome a PR if you decide to contribute one 👍

[2022-06-09 07:31] krisztian-sala opened #119 "New option to define severities when the action should fail"
Would it be possible to have an additional config option, similar to the `severity`, where we can list the severities that we want to have an error exit code?
For example: I would like to scan for critical, high and medium severity vulnerabilities, but only fail the action if critical or high is found.

[2022-06-09 08:51] timdittler opened #120 "tar ball scanning broken"
Thanks for providing trivy and the action. I'm trying to supply `input` to scan an image directly after building it. The action fails like this:

[code]

Looking at #23 it seemed to work on day.

Trivy is actually trying to scan inside it's own container.
I can replicate the error locally. I have to mount the dir of the tarball to make it work
[code]

[2022-06-09 15:20] timdittler commented on #120
I can access the image if I copy it into `$GITHUB_WORKSPACE`, but it's not accessible in `$RUNNER_TEMP`.

The image is build with `docker/build-push-action@v3` before, but it looks like they don't actually share the same tmp.

[2022-06-10 22:44] simar7 commented on #119
hi @krisztian-sala - such an option doesn't exist today as you mentioned but this to me feels like a feature that's better done at a Trivy level rather than the Trivy Action.

[2022-06-10 22:49] simar7 commented on #120
hi @timdittler - thanks for the observation. I suspect something must have changed within the GitHub Action runtime that the `$GITHUB_WORKSPACE` and `$RUNNER_TEMP` are different.

Would you mind documenting this (your workaround that is)? Do you have any other ideas how we could solve it better? Open to thoughts.

[2022-06-13 06:35] krisztian-sala commented on #119
All right, for now, I used the action twice, first with critical and high, with the exit code 1 and second with medium, exit code 0. Seems to work like this, I'm going to close this issue

[2022-06-13 06:35] #119 closed

[2022-06-14 08:45] timdittler commented on #91
Just add a `.trivyignore` to your GITHUB_WORKSPACE (aka your repo and use [checkout action](https://github.com/marketplace/actions/checkout)). Trivy will pick it up automatically.

[2022-06-14 14:43] simar7 commented on #103
hi @abstractj - thanks to @achton this should be possible in the latest revision added here https://github.com/aquasecurity/trivy-action/pull/122

[2022-06-14 14:51] abstractj commented on #103
@simar7 thank you, that's fantastic!

[2022-06-15 08:18] itaysk opened #125 "upload to github dependency snapshot"
Now that Trivy can output in GitHub Dependency Snapshot format https://github.com/aquasecurity/trivy/issues/2210 the Trivy GH Action should be able to upload the results to the GH API. It's unclear if there will be a generic action like there is for the SARIF upload, so for now we will do it in the Trivy action

[2022-06-15 20:02] achton commented on #91
Alternately, release 0.4.0 now has support for passing in a relative path to a `.trivyignore` file which will then be picked up by the action.

[2022-06-16 00:08] simar7 commented on #103
Marking as done with #122

[2022-06-16 00:08] #103 closed

[2022-06-19 21:29] achton commented on #120
Seems to me that a good starting point would be to add a test to `test.bats` that fails based on the above feedback, then work forward from there.

[2022-06-19 21:36] achton opened #130 "support for scanning multiple images"
Not sure if this is an edge case, but I have the need for scanning multiple, dynamically-named images in a single job and failing the action if any of the images contain vulnerabilities (using `--exit-code`).

Would you be willing to accept a PR which adds that feature I can provide it? I imagine something like `--image-ref` supporting a comma-separated list of images. (Should be safe if we assume

[2022-06-21 13:49] toddbaert commented on #120
I'm seeing the same issue. In my case, moving the tarball to `$GITHUB_WORKSPACE` doesn't seem to help either. The input method seems not to be usable at this point.

[2022-06-21 15:48] nleconte-csgroup opened #131 "Use custom template"
Hello, I wrote a very basic CSV template for trivy and I would like to use it with the trivy GitHub action.

[2022-06-21 20:01] simar7 commented on #131
hi @nleconte-csgroup - that's cool, what were you looking to do with it?

[2022-06-22 18:30] simar7 opened #133 "Investigate SARIF output"
It seems that after v0.29.0 the SARIF tests have started to fail. Need to look into what has changed in terms of output from Trivy.

Relevant test: https://github.com/aquasecurity/trivy-action/blob/master/test/test.bats#L12-L17

Steps to tackle this:
1. Run tests locally using `bats -r .`
2. See the test failing
3. Verify the golden output vs what is actual output from Trivy

[2022-06-23 23:55] simar7 commented on #120
hi @toddbaert and @timdittler - just spent some time to investigate this. Looks like the following should help you:

[code]

Looks like the volume is mounted, just at `/github/workspace`.  Let me know if it helps.

[2022-06-23 23:58] #125 closed

[2022-06-27 06:15] guinan34 opened #135 "The exit-code: '1' can't stop the workflow"
here is my config
[code]
here is the scan result
<img width="995" alt="image" src="https://user-images.githubusercontent.com/16395409/175871717-eb816195-637a-439f-965e-82e4b80fd317.png">

it's indeed scanned out a critical error, but the workflow still succeeded, i don't know why .

[2022-06-28 06:04] guinan34 commented on #135
@simar7  thanks your help . i just to check the result. still success.
if i run the command on my local laptop, then `echo $?`, it's indeed returned `1`, but in github action didn't .
<img width="1066" alt="image" src="https://user-images.githubusercontent.com/16395409/176104701-43906f49-e802-4666-b9a3-08e8641c451b.png">

[2022-06-28 12:39] timdittler commented on #120
Yes, this works. As I wrote above, tar scanning in github workspace works
for me fine. For whatever reason, we were building it in /tmp and there I
couldn't scan. This is not a big problem, just something you have to know.

On Fri, Jun 24, 2022 at 1:55 AM simar7 ***@***.***> wrote:

[2022-06-28 15:48] toddbaert commented on #120
@simar7 confirmed that new advice fixed my issue. Thanks for updating the doc

[2022-06-29 20:41] simar7 commented on #135
hi @guinan34 - thanks for your patience. It was indeed a bug in Trivy v0.29.1 that has been since patched and released in v0.29.2. I will update Trivy Action to use this version shortly.

[2022-06-29 21:33] #133 closed

[2022-06-29 21:33] #135 closed

[2022-06-29 21:34] #120 closed

[2022-06-29 21:36] simar7 commented on #135
hi @guinan34 - v0.5.1 is now released with the fix https://github.com/aquasecurity/trivy-action/releases/tag/0.5.1

[2022-07-04 00:11] krol3 opened #138 "trivy sbom for gh dependency-submission"
I'm following the tutorial to create a snapshot to do a [dependency submission](https://docs.github.com/en/rest/dependency-graph/dependency-submission).

I create the snapshot file using trivy: trivy image --output ./outputs/sbom-image-gh.json --format  github krol/go-helloworld. See [here](https://github.com/krol3/helloworld/blob/main/outputs/sbom-image-gh.json)

The json generated is missing thi

[2022-07-04 03:36] guinan34 commented on #135
@simar7  really cool , i tested it. worked now .

[2022-07-05 12:33] imgalli opened #139 "Trivy scan action is scanning PNPM cache"
Hi there, we're using your action and have been for some time via `@master`. Over the past few days the action is now failing due to contents of the dir `/root/.pnpm-store`.

Our config of the action is as follows, PNPM would relate to what we'd consider "application dependencies" and shouldn't be related to OS level dependencies.

[code]

[2022-07-05 15:57] rcarpio-hbo opened #140 "Add support for --dependency-tree option"
Using the command line it is possible to use the `--dependency-tree` to show dependency origin tree like:

[code]

Reviewing the trivy-action documentation, I have seen that there is not a parameter to configure trivy to see the dependency tree.

I propose to have a new parameter to allow this.
[code]

[2022-07-05 17:16] jonpulsifer opened #142 "Unexpected behaviour when scanning with SARIF formatting"
### Wat

The action runs trivy twice when the format is set to `sarif`, so some options are not respected (including timeouts)

imo we should remove the second trivy run altogether, since it's mostly duplication, but thought I should open an issue before a PR 😄 .. any concerns?

### Expectation

Given the following step:

[code]

I was expecting the step to succeed in under 10 minutes.

### Realit

[2022-07-06 21:19] simar7 commented on #138
Closing as discussed offline: https://github.com/aquasecurity/trivy-action#using-trivy-to-generate-sbom

[2022-07-06 21:19] #138 closed

[2022-07-07 00:02] simar7 commented on #139
hi - you could add the directory which you would like to be skipped via the `skip-dirs` option.

[2022-07-07 00:05] simar7 commented on #140
hi @rcarpio-hbo - thanks for the idea but what is the use case for such a feature? The current Trivy GitHub Action is meant for CI pipelines to be automatically secured (fail the deployment) if vulnerabilities (or other misconfigurations, secrets etc.) are found.

[2022-07-07 00:10] simar7 commented on #142
hi @jonpulsifer - as mentioned in the issue #95, this is currently by design. We want all vulnerabilities that exist in a repository to be submitted as SARIF results to GitHub. If you think this isn't desired and would rather not have it, we'll take your feedback.

If you have any other ideas on how we can implement this better (without running the scan twice), we're happy to hear from you.

[2022-07-07 07:12] rcarpio-hbo commented on #140
I think there was a misunderstanding here, I updated the issue description to remove the `exit-code: '0'` option since it was added because I made some test. It is not a mandatory option for this feature.

My idea with this issuie is to add the `dependency-tree` option to the action.

This is PR for the code: https://github.com/aquasecurity/trivy-action/pull/141

[2022-07-07 08:15] imgalli commented on #139
[code]

Heya, that's how we resolved our issue but feel its more of a correction that should happen higher up. Guess I should be getting touch with Trivy core?

[2022-07-07 22:39] simar7 commented on #139
I see - Yeah, I guess the question really is what is classified as an application dependency vs otherwise.

cc @knqyf263

[2022-07-21 16:20] nyarly opened #146 "Update to 0.30.0"
We're suffering from https://github.com/aquasecurity/trivy/issues/2375, which appears to be fixed in Trivy 0.30.0, based on timeline of PRs and releases.

Could we please get an update to the action to use 0.30?

[2022-07-21 21:56] simar7 commented on #146
hi @nyarly - yes there's an open PR for it. We're waiting for Trivy to stabilize https://github.com/aquasecurity/trivy-action/pull/143

thanks for your patience.

[2022-07-21 23:47] simar7 commented on #146
https://github.com/aquasecurity/trivy-action/releases/tag/0.6.0 is now released with Trivy v0.30.2.

[2022-07-21 23:47] #146 closed

[2022-07-22 07:51] flaxel opened #147 "🐛 Trivy config does not work"
I want to use a trivy.config file but it is not used.

Trivy config:

[code]

GitHub Action:

[code]

Logs:

[code]

[2022-07-22 22:52] simar7 commented on #147
hi @flaxel - thanks for reporting this. I've cut a PR that should address this along with some extra documentation to make it more self explanatory.

[2022-07-25 11:22] chipzoller opened #149 "Add a timestamp to scan output in JSON mode"
Not sure if this is a trivy-action or just a trivy enhancement. When using the action, if the output mode is JSON, the scan produced does not have a timestamp of the scan. A timestamp is needed when attesting to a scan in order to make policy decisions, such as ensuring the scan was produced before a certain amount of time. Today, this has to be added in a separate step. It would be nice for this

[2022-07-25 22:30] dstrates opened #151 "Support for scanning changed files only (IaC mode)"
Trivy-action does not offer the ability to scan changed files only (i.e. files introduced or modified in a pull request).

Instead it scans all files in a directory, or specified files only. This increases scanning time unnecessarily during the CI process.

[2022-07-27 05:59] ralfstuckert opened #153 "Timeout parameter ignored"
Since version 0.5.0 the timeout parameter seems to be ignored (we run into a timeout after 5 min)

Setup looks like this:
[code]

However, if we pass the timeout via yaml config, it works:

[code]

**trivy.yaml**
[code]

[2022-07-29 15:49] chipzoller opened #154 "Scan format `cosign-vuln` unknown in action version 0.6.1"
Passing `cosign-vuln` as a format to the action is not recognized and causes it to fail with a FATAL error "report error: unable to write results: unknown format: cosign-vuln".

[2022-07-29 15:54] chipzoller commented on #154
Appears to not yet be released and currently in `main`. (PR [here](https://github.com/aquasecurity/trivy/pull/2567))

[2022-07-29 15:54] #154 closed

[2022-07-29 22:23] simar7 commented on #149
hi @chipzoller - this would be a trivy enhancement. cc @knqyf263

[2022-07-29 22:23] chipzoller commented on #149
I believe this is already addressed hence closing.

[2022-07-29 22:24] #149 closed

[2022-07-29 22:29] simar7 commented on #153
hi @ralfstuckert - thanks for reporting this but I'm unable to reproduce this locally. Would you mind sharing the logs of your GitHub action here?

[2022-07-30 12:08] flaxel commented on #147
Could you create a new release? 🤔

[2022-08-01 19:38] iameskild commented on #153
Hi @simar7, I've been experiencing a similar issue, but given what I've been seeing, I was wondering if there was another timeout setting specific to the `Building SARIF report...` step. Here are the GHA logs for my most recent attempt:

[code]

For the full logs see [here](https://pipelines.actions.githubusercontent.com/serviceHosts/da6926c9-3107-45ff-897e-ee0f28e763db/_apis/pipelines/1/runs/18/s

[2022-08-02 18:52] jonpulsifer commented on #142
:wave: pardon the delay and thanks for the response!

In our case:
- we do not need trivy to perform a secret scan because we have another tool that does this (and it also dramatically increases the action runtime for large containers)
- we do not need trivy to execute twice, as the first scan is using `--format sarif` with the customizations we choose

A _specific_ fix for us would be to append `

[2022-08-02 23:49] simar7 commented on #142
hi @jonpulsifer - thanks for explaining, that makes sense. I've cut a PR for it  https://github.com/aquasecurity/trivy-action/pull/156

[2022-08-03 17:22] b34rd-tek opened #157 "Exit-Code: 1 add failure description"
How feasilbe is it to give a description on failure. For example, if exit-code: 1 is set, the action fails without any description as to what causes the failure. For pull requests a comment stating the cause would be extremely helpful.

[2022-08-04 00:32] #153 closed

[2022-08-04 07:35] ralfstuckert commented on #153
Sorry, have been off for a couple of days. I can confirm that the fix solves the problem. Even more: the reason for running into the timeout was 'not passing the security-checks parameter' which was also fixed. Now the scan runs in seconds :-D

[2022-08-05 13:44] bixu opened #158 "Should we pin to `master` when Github advises pinning to full git SHA?"
https://github.com/aquasecurity/trivy-action/blob/cb606dfdb0d2b3698ace62192088ef4f5360b24f/README.md?plain=1#L70

See https://docs.github.com/en/actions/security-guides/security-hardening-for-github-actions#using-third-party-actions

[2022-08-09 10:28] raoganeshr opened #160 "Unable to pass .trivyignore file downloaded on runner to trivy action for container scan"
I wanted to download a .trivyignore file on the runner before the action is called and pass that file to the action using trivyignores variable. However, it seems trivy action is unable to find the file.

What is the recommended way to pass this file other than put it inside the container image?

[2022-08-10 03:49] chejn opened #161 "incorrect API usage for GitHub Dependency Snapshot in entrypoint.sh"
Issue in line 189 - curl command uses -u flag for authentication when authentication should be passed as the following header
-H "Authorization: token {TOKEN}"

Ref: https://docs.github.com/en/rest/dependency-graph/dependency-submission#create-a-snapshot-of-dependencies-for-a-repository

[2022-08-10 09:58] abhinaybyrisetty commented on #130
@achton This feature would be really good to have.

@simar7 I would vote for option 1.

[2022-08-10 18:22] simar7 commented on #161
Thanks it seems that it has changed since the initial release. Would you be interested in submitting a PR, @chejn?

[2022-08-10 18:23] simar7 commented on #160
hi @raoganeshr - you could do something like this:

[code]

[2022-08-10 18:25] simar7 commented on #158
Fair enough - you can pin to a full SHA as you mentioned. The documentation is simply a suggestion and not a requirement.

[2022-08-10 18:30] simar7 commented on #157
Currently Trivy follows the [UNIX philosophy of exit codes](https://tldp.org/LDP/abs/html/exitcodes.html). A non zero exit code implies something "undesirable" happened.

The exit code is supposed to be set by the user, therefore writing logic to indicate what went wrong wouldn't be ideal as it is set by the user in the first place.

[2022-08-11 07:50] muddassir-r opened #163 "trivy-action for scanning kubernetes cluster"
Is there any GitHub action to scan kubernetes cluster from trivy-action.

[2022-08-11 22:22] simar7 commented on #163
hi @muddassir-r - what are you trying to accomplish? You could use [Trivy-operator](https://github.com/aquasecurity/trivy-operator) to scan your k8s workloads.

[2022-08-12 04:58] muddassir-r commented on #163
@simar7 I was trying to use trivy-action to scan kubernetes cluster, I realize that the scope of trivy-action would be scanning the image build from the docker file which is placed in the repo.

[2022-08-12 04:58] #163 closed

[2022-08-12 10:58] raoganeshr commented on #160
tried this:

[code]

But it did not work. I believe it was trying to search for the file inside the container.

[2022-08-16 13:29] itaysk opened #164 "bump trivy to 0.31"
https://github.com/aquasecurity/trivy/discussions/2716

[2022-08-17 00:25] #164 closed

[2022-08-17 00:27] simar7 commented on #164
Released here https://github.com/aquasecurity/trivy-action/releases/tag/0.7.0

[2022-08-17 21:55] simar7 commented on #161
Fixed with https://github.com/aquasecurity/trivy-action/pull/162

[2022-08-17 21:55] #161 closed

[2022-08-18 07:21] muddassir-r opened #166 "Trivy-action for kubernetes scan"
Is there a way to scan the kubernetes cluster via trivy-action.

[2022-08-19 00:19] simar7 commented on #166
hi @muddassir-r - please refer to the question as asked here https://github.com/aquasecurity/trivy-action/issues/163

[2022-08-27 11:04] yogeshlonkar commented on #12
[aquasecurity/trivy-action@master](https://github.com/aquasecurity/trivy-action) action works with [actions/cache@v3](https://github.com/actions/cache)

I've create [trivy-cache-action](https://github.com/yogeshlonkar/trivy-cache-action) it uses GitHub's [`packages/container/{name}/version`](https://docs.github.com/en/rest/packages#get-all-package-versions-for-a-package-owned-by-an-organization) A

[2022-08-30 11:36] adriil opened #167 "Add ability to pull trivy image from a mirror"
Hi team,

I'd like to experiment this action for my company, but I'm facing the following issue :
1. the action builds a Docker image and starts by pulling the base image from `ghcr.io`
2. the pull is blocked because our company network is behind a proxy and our system team doesn't want to open the gates to all `ghcr.io` domain (which I can understand)

A possible solution for us would be to mirro

[2022-08-30 14:19] adriil commented on #167
This actually looks harder than I first thought, as the `action.yaml` may not support this.

[2022-08-30 23:12] simar7 commented on #167
hi @adriil - thanks for sharing this. I didn't know about this limitation of GitHub Actions. Would this help in anyway if we could adapt to use it with the Trivy Action somehow? https://aquasecurity.github.io/trivy/v0.31.3/docs/advanced/air-gap/

[2022-08-31 07:46] adriil commented on #167
Hi @simar7
I think air-gap faces the same limitation as `trivy` is needed to download the database and ultimately run the scan if I understood. The only way I see to achieve this is by installing `trivy` on our runners (or runners hosts) directly, but then this action wouldn't be necessary anymore and we would miss the point of not having to care about the client at all.

[2022-09-01 05:02] simar7 commented on #167
Yeah I see your point. The best alternative I can think of is that you fork this action and modify the base image, while keeping it up to date with the upstream changes (this action repo). As much as I wish you wouldn't have to fork this repo, I don't see a way out considering the pull is blocked and GitHub does not allow passing custom build args.

[2022-09-01 15:04] adriil commented on #167
I agree, forking the repo sounds like a suitable workaround until GitHub supports `--build-arg`. They clearly must add it :)
Thank you for your support.

[2022-09-11 17:51] zchryr commented on #67
@Sunil-Jacob Sharing the details of how you "found a different way to use it" would be helpful.

[2022-09-12 09:06] raoganeshr commented on #160
@simar7 any other suggestions?

[2022-09-21 22:34] colematthew4 opened #168 "Support Service Account login for private registries"
Would be nice to use this action in combination with the [docker/login-action](https://github.com/docker/login-action#service-account-based-authentication-1) or using an input parameter, that way service account credentials can be used to perform scans.

[2022-09-22 06:21] flaxel opened #169 "Timeout Configuration is ignored"
I have an action where I set the timeout to `10m0s`. But unfortunately, the timeout is ignored when the action is running. This is the log message I get from the action:

[code]

[2022-09-27 18:45] thetredev commented on #130
+1 for either option. If 1, maybe `image-refs`?

[2022-09-28 21:22] simar7 commented on #130
We certainly welcome and PRs if you'd like to contribute. Can help review them. Let us know if you need any assistance.

[2022-09-28 21:31] thetredev commented on #130
I'd like to, but I'm not sure how I'd test the option myself (in my fork). Can you elaborate on that?

[2022-09-29 19:24] kareemshahin commented on #160
Having the same issue when i have a `.trivyignore` in the root of my code repo.  I've tried `./`, `./.trivyignore`, `/github/workspace/.trivyignore`.

All result in the same similar error:
`ERROR: cannot find ignorefile '/github/workspace/.trivyignore'.`

here's the output of the `docker run` with the noise removed (environment variables, etc):

[code]

The `workdir` seems to be set to `/github/wo

[2022-10-04 15:55] Loki-Afro opened #171 "PR is not blocked although trivy found critical issues"
Hi there,

we are using codeql already, and have Code scanning results / CodeQL in our repos.
additionally with the following rule: Settings -> Code security and analysis -> Code Scanning -> Check Failure: High or higher / Only Errors

![image](https://user-images.githubusercontent.com/4738445/193865435-be32226a-6b3f-46f8-8efd-47aa2320b0cc.png)
this is described here: https://docs.github.com/en/co

[2022-10-10 14:19] jeremyhalin opened #172 "fs and docker image scan doesn't return empty results the same way"
We use a workflow to do two scans, one fs, one docker image.
When the results are empty, the output isn't the same.
Is it expected behavior? It produces empty string which is weird in a comment PR.

**GitHub worflow**
[code]
            ${{ env.TRIVY_FS_RESULTS }}
[code]
            ${{ env.TRIVY_IMAGE_RESULTS }}
[code]

**Screenshot of a PR comment**
![Capture d’écran 2022-10-10 160604](https://u

[2022-10-11 13:48] luafanti opened #173 "Add support for scan-type: 'sbom'"
It would be nice if [trivy-action](https://github.com/aquasecurity/trivy-action) could support vulnerability scanning based on a pre-generated SBOM file. Using the Trivy CLI it is possible

`trivy sbom /path/to/cyclonedx.json
`

https://aquasecurity.github.io/trivy/v0.32/docs/sbom/cyclonedx/

I tried the below configuration with trivy-action but it fails.

[code]

Looks like the `scan-ref` value w

[2022-10-18 08:52] hpvd opened #174 "readme/table of contents outdated ->does not reflect possibilities"
readme/table of contents outdated ->does not reflect possibilities

table of content for lots of people is the first thing to read,
so it would be nice to contain/show all the topics contained in the readme to **get within seconds a better understanding,** what is possible with this action

[2022-10-18 22:36] simar7 commented on #171
hi, is this your config? https://github.com/kaffeekrone/mail-drop/blob/main/.github/workflows/trivy-analysis.yml#L41 if so I don't see an exit code stanza that should make it fail.

[2022-10-18 22:38] simar7 commented on #172
can you share your scan results (fs and image scan) if you run them locally? (not in GitHub Actions)

[2022-10-18 22:40] simar7 commented on #169
hi there, this is interesting. what value did you specify when passing the config. was it `10m0s`? could you try with just `10m` (without the seconds)?

[2022-10-19 06:13] flaxel commented on #169
I have already tried both solutions. 😄

[2022-10-19 08:53] jeremyhalin commented on #172
Not the same ouptput :)

[code]

[2022-10-19 12:06] Loki-Afro commented on #171
@simar7 i don't think that's an issue in my config, even though it is suggested by the documentation here.
thing is https://docs.github.com/en/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/configuring-code-scanning#defining-the-severities-causing-pull-request-check-failure

is is supposed to fail either way, isn't it?

[2022-10-19 23:40] simar7 commented on #171
yes but you need an `exit-code` param in your config for trivy to return a non zero exit code so it can fail the pipeline. it's documented here https://github.com/aquasecurity/trivy-action#scan-ci-pipeline

[2022-10-19 23:45] simar7 commented on #172
right, I understand. So you're saying that when you scan the docker image built from the same files, it doesn't show the above secret as an issue?

by any chance is the secret part of the base layer? if so it might not be show, here's a quick primer on it https://aquasecurity.github.io/trivy/v0.32/docs/secret/scanning/

```Trivy tries to detect a base image and skip those layers for secret scannin

[2022-10-19 23:56] simar7 commented on #130
you could locally run the ./entrypoint.sh script that gets called by GitHub action to try things out. for an example, take a look at the tests here https://github.com/aquasecurity/trivy-action/blob/master/test/test.bats

[2022-10-20 05:43] SvenOleLuxMD opened #175 "bump trivy to 0.32.1"
I would like to use the gradle supported Version of trivy in this action.
In v0.32.1 java/gradle support is added --> https://github.com/aquasecurity/trivy/issues/2707
Would be great to use the latest trivy version also in this action.

[2022-10-20 09:40] SvenOleLuxMD commented on #175
Haven't read the PRs -> https://github.com/aquasecurity/trivy-action/pull/170 seems to be the PR fpr 0.32.1

[2022-11-01 00:19] simar7 commented on #175
fixed by https://github.com/aquasecurity/trivy-action/pull/177

[2022-11-01 00:19] #175 closed

[2022-11-01 09:33] arxeiss opened #178 "Action starts but never finish"
We use Trivy in below is our Action config and it worked well till this morning. But when I created new PR, Trivy action took 27 minutes and wasn't finished still. So I canceled it and restarted it. But after 5 minutes I canceled it again, because it was stuck again.

Then I changed the code to pin the previous version `aquasecurity/trivy-action@0.7.1` and the action was finished within 10 seconds

[2022-11-02 05:32] simar7 commented on #178
hmm that's really odd... could you try to Run Trivy locally with the `--debug` flag to see what it says?

[2022-11-03 21:26] saerosV commented on #173
Hey @luafanti.

The "generating SBOM" feature was added by #129. It's not exactly what you asked for, but [here's the documentation](https://github.com/aquasecurity/trivy-action#using-trivy-to-generate-sbom).
It should serve as a reference for anyone looking to implement the feature you mentioned, in the future.

Note that Instead of `scan-type: 'sbom'`, you should use `scan-type: 'fs'`

[2022-11-17 10:12] jeremyhalin commented on #172
Thanks for your answer and sorry for the delay.

I've been doing some other tests and results are OK and the same.
So this issue is just about why docker image scan results with a clear message "Total: 0" whereas a fs scan results with a empty message.

[2022-11-22 08:04] arxeiss commented on #178
I'm not sure I'm going to help. With `--debug` I see just this and then it is doing nothing. But using lots of CPU.
Any other idea, what to try?

![image](https://user-images.githubusercontent.com/5103109/203258761-1620ac6c-10e0-41c0-afd9-7f331fff7634.png)

[2022-11-22 12:38] simar7 commented on #178
Yes please, sounds like a case of Trivy high memory usage.

[2022-11-22 12:41] arxeiss commented on #178
Could you move the ticket? Or should I close it here and create new one?

[2022-11-22 12:47] simar7 commented on #178
There might already be a high cpu usage issue in Trivy. But if not feel free to close an open a new one there. Thanks.

[2022-11-22 14:15] arxeiss commented on #178
Created new ticket directly in Trivy repository. See it here https://github.com/aquasecurity/trivy/issues/3212

Thus it is not issue of Github Action, so I'm closing this one.

[2022-11-22 14:15] #178 closed

[2022-11-25 15:19] amrityamrout opened #180 "HTTP status: 503 Service Unavailable in Github action pipeline"
Step 1/5 : FROM ghcr.io/aquasecurity/trivy:0.34.0
  received unexpected HTTP status: 503 Service Unavailable
  Warning: Docker build failed with exit code 1, back off 1.279 seconds before retry.
  /usr/bin/docker build -t 290506:2a37db7d2bac4b86970a8f85ca423577 -f "/home/runner/work/_actions/aquasecurity/trivy-action/master/Dockerfile" "/home/runner/work/_actions/aquasecurity/trivy-action/master"